body,html{
    margin:0;
    width:100%;
    height:100%;
}

#text {
    position:absolute;
    bottom:1em;
    left:1em;
    width:512px;
    z-index:20000;
    background-color:white;
    padding:0 0.5em 0.5em 0.5em;
}

.eventEdit_topic_listing_container{
    /*
    max-height:300px;
    overflow:auto;
    */

    column-count:3;
    column-gap:10px;

    /* Firefox */
    -moz-column-count:3;
    -moz-column-gap:10px;

    /* Safari and Chrome */
    -webkit-column-count:3;
    -webkit-column-gap:10px;

}

div.wikistoriaEvent {
    background-color:silver;
    border-color:black;
    color:black;
    text-shadow:0 0 3px white;
    font-family:monospace;
    box-shadow:0 0 10px gray;
    display:none;
}
.map{
	position:absolute;
	left:0;
	right:0;
	top:0px;
	bottom:0;
	border:1px solid black;
}
.adminMap{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:49%;
}
#eventEditor{
	position:absolute;
	right:0px;
	width:48%;
	top:54px;
	bottom:0;
    padding: 2px;
}
#layerEditor{
	position:absolute;
	right:10px;
	border:0 solid red;
	width:480px;
	top:113px;
	bottom:0;
}
.unitRoute{
	
}

.nav{
    margin-bottom: 3px !important;
}

#eventContentTabsControls{
    text-align:right;
}

#eventContentTabsControls_btn{
    position:relative;
    top:32px;
    right:1px;
}

div.loadedEventList{
    position:absolute;
    left:0;
    bottom:0;
    height:420px;
    z-index:99;
    padding-left:10px;
    opacity:0.75;
}

.wikistoria-event-tab{
    background-color:white;
    border-radius:10px;
    height:365px;
    width:250px;
    padding:10px;
    border:1px steelblue solid;
}

#eventISearch_Search_results{
    overflow-y:auto;
    height:520px;
}

#eventISearch_Search_findCategories_results{
    margin-bottom:25px;
}

#eventISearch_Search_sigStart,#eventISearch_Search_sigEnd{
    width:70px;
}

div#anything_Search_results{
    overflow:auto;
    height:500px;
}

#anything_Search_MoreDetailedSearchButton{
    cursor:pointer;
}

.category_enumeration_Anchor{
    cursor:pointer;
    margin-left:3px;
    text-decoration:underline;
}

.movImgURL{
    width:30%;
    display:none !important;
}

.hideMe{
    display:none !important;
}

.yourContent_contentPane{
    height:350px;
    overflow:auto;
}

.featureToolbar .featurePoint{ background-position-x:-77px; }
.featureToolbar .featureLine{ background-position-x:-51px; }
.featureToolbar .featurePolygon{ background-position-x:-27px; }
.featureToolbar .featureMove{ background-position-x:-103px; }
.featureToolbar .Active{ background-position-y:-24px; }
.featureToolbar .Deactive{ background-position-y:-1px; }

.modifyToolbar div{
    float:left;
    width:24px;
    margin-left:5px;
}
.featureToolbar div{
    float:right;
    background-image:url("../img/editing_tool_bar.png");
    background-repeat:no-repeat;
    margin:0 0 5px 5px;
    height:10px;
}

hr {
    border:0;
    height:1px;
    background-image:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    background-image:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    background-image:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
}