<!DOCTYPE html>
<html>
<head>
    <title>Wikistoria</title>

    <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/spruce/bootstrap.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap-modal.css') }}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/datetimepicker.css') }}" rel="stylesheet">
    <link href="http://openlayers.org/dev/theme/default/style.css" rel="stylesheet">
    <link href="{{url_for('static', filename='css/timeline.css') }}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/wikistoria.css') }}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/colorpicker.css') }}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/jquery.notifyBar.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript">

        // Record the logged user ID, only used for helping the UI rendering..
        // Obviously not a single secure related operation depends on this variable.
        {% if g.user.is_authenticated() %}
        var logged_id = {{g.user.id}};
        {% else %}
        var logged_id = null;
        {% endif %}

        var currentlyLoadedEvents = null;
        var currentlyLoadedPlaylists = null;
    </script>

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.11/jquery.mousewheel.min.js"></script>
    <script src="//www.thimbleopensource.com/download/jquery/jquery.filter_input.js"></script>

    <!-- Twitter bootstrap -->
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <!-- Twitter bootstrap styled dialogs -->
    <script type="text/javascript" src="{{url_for('static', filename='js/external/bootbox.js') }}"></script>
    <!-- Twitter bootstrap support for modal windows -->
    <script type="text/javascript" src="{{url_for('static', filename='js/external/bootstrap-modalmanager.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/external/bootstrap-modal.js') }}"></script>
    <!-- Twitter bootstrap styled date time picker -->
    <script type="text/javascript" src="{{url_for('static', filename='js/external/bootstrap-datetimepicker.min.js') }}"></script>
    <!-- Openlayers for map rendering -->
    <script src="//openlayers.org/api/OpenLayers.js"></script>
    <!-- Functional programming -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <!-- Better Date class -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
    <!-- Star rating component -->
    <script type="text/javascript" src="{{url_for('static', filename='js/external/jquery.raty.min.js') }}"></script>
    <!-- Templating support, no more ugly hardcoded HTML-JS-rendering -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <!-- Timeline component -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/marked/0.2.9/marked.min.js"></script>
    <!-- Markdown rendering -->
    <script type="text/javascript" src="{{url_for('static', filename='js/external/timeline.js') }}"></script>
    <!-- Knockout for bindings -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/external/colorpicker.js') }}"></script>

    <!-- Upload images where-ever applicable -->
    <script type="text/javascript" src="http://malsup.github.com/jquery.form.js"></script>

    <script type="text/javascript" src="{{url_for('static', filename='js/external/jquery.notifyBar.js') }}"></script>
    
    <script type="text/javascript" src="{{url_for('static', filename='js/bigdate.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/wikistoria_event.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/wikistoria_eventunit.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/wikistoria_playlist.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/wikistoria_layer.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/wikistoria_user.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/wikistoria_timeline.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/wikistoria_map.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/wikistoria_search.js') }}"></script>


    <script type="text/javascript">

        var UnitURL = '{{ url_for("event_datasource.getUnitInformationInJSON") }}';
        var unitDBSearchUrl = '{{ url_for("event_datasource.searchUnits") }}';
        var removeCollaboratorUrl = '{{ url_for("event_datasource.remove_collaborators") }}';
        var collaboratorUrl = '{{ url_for("event_datasource.get_collaborators") }}';
        var setCollaboratorUrl = '{{ url_for("event_datasource.set_collaborators") }}';
        var eventDBSearchUrl = '{{ url_for("event_datasource.searchEvents") }}';
        var eventDBQueryURL = '{{ url_for("event_datasource.getEventsUsingQueryMachine") }}';
        var eventDBSingleQueryURL = '{{ url_for("event_datasource.get_single_event_using_query_machine") }}';
        var eventDBDeleteUrl = '{{ url_for("event_datasource.deleteEvent") }}';
        var eventDBUpdateUrl = '{{ url_for("event_datasource.updateEvent") }}';
        var eventDBCreateUrl = '{{ url_for("event_datasource.setEvent") }}';
        var unitDBUpdateUrl = '{{ url_for("event_datasource.updateUnit")}}';
        var unitDBCreateUrl = '{{ url_for("event_datasource.setUnit") }}';
        var unitDBDeleteUrl = '{{ url_for("event_datasource.deleteUnit") }}';
        var layerDBUpdateUrl = '{{ url_for("layer_datasource.updateLayer") }}';
        var layerDBCreateUrl = '{{ url_for("layer_datasource.setLayer") }}';
        var layerDBDeleteUrl = '{{ url_for("layer_datasource.deleteLayer") }}';
        var layerDBSearchUrl = '{{ url_for("layer_datasource.layer_search")}}';

        var unitImageUrl = '{{ url_for("event_datasource.uploadUnitImage") }}';

        var playlistDBSearchUrl = '{{ url_for("playlist_datasource.playlist_search")}}';
        var playlistDBInfoUrl = '{{ url_for("playlist_datasource.playlist_info")}}';
        var playlistDBUpdateUrl = '{{ url_for("playlist_datasource.playlist_update")}}';
        var playlistDBCreateUrl = '{{ url_for("playlist_datasource.playlist_create") }}';
        var playlistDBDeleteUrl = '{{ url_for("playlist_datasource.playlist_delete") }}';

        var nameQueryURL = '{{ url_for("user_page.nameQuery") }}';
        var addCategoryURL = '{{ url_for("category_datasource.category_add") }}';

        var categoryDBSearchURL = '{{ url_for("category_datasource.category_search")}}';

        var eventYourContentQuery = '{{ url_for("event_datasource.your_content") }}';

        var loggedUserInfo = '{{ url_for("user_page.user_info_json")}}';
        var loggedUserUpdateInfo = '{{ url_for("user_page.user_update_json")}}';
        var passwordChangeURL = '{{ url_for("user_page.user_new_password")}}';

        $(document).ready(function(){

            installMap();
            initializeComponents();

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}

                    {% for category,message in messages %}
                    $.notifyBar({
                        html: "{{ message }}",
                        delay: 2000,
                        cssClass: "{{ category }}",
                        animationSpeed: "normal",
                        position: "bottom"
                    });
                    {% endfor %}

                {% endif %}
            {% endwith %}

            currentlyLoadedEvents = new listenerArray(function(event_){
                $(".loadedEventList_items").append(event_renderSelectionAnchor(event_));
            }, null, function(self){
                $("#ui_currently_loaded_events").text("Loaded events: "+self.length);
            });

            currentlyLoadedPlaylists = new listenerArray(null);
            selectedCategories = new listenerArray(null);

        });

    </script>

</head>
<body>

{% include 'windowFindAnything.html' %}

{% if g.user.is_authenticated() %}
    {% include 'windowEditUnit.html' %}
    {% include 'windowEditEvent.html' %}
    {% include 'windowEditLayer.html' %}
    {% include 'windowEditPlaylist.html' %}
    {% include 'windowUserSettings.html' %}
    {% include 'windowYourContent.html' %}
    {% include 'windowCollaborationRights.html' %}
{% endif %}

{% include 'windowInfoUnit.html' %}
{% include 'windowInfoEvent.html' %}
{% include 'windowInfoPlaylist.html' %}

    <div class="loadedEventList">
        <div id="eventContentTabsControls"><button id="eventContentTabsControls_btn" class="btn btn-default" onclick="toggleEventsTabVisibility();"><i id="eventContentTabsControls_icon" class="icon-minus"></i></button></div>
        <div class="tabbable tabs-left" id="eventContentTabs">
            <ul class="nav nav-tabs" id="eventContentTabs_Headers">
                <li class="active"><a href="#eventTab_Eventlist" data-toggle="tab">Separate events</a></li>
            </ul>
            <div class="tab-content" id="eventContentTabs_Containers">
                <div class="wikistoria-event-tab tab-pane active loadedEventList_items" id="eventTab_Eventlist">
                    <h4>Loaded separate events</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top" id="wikistoria_ui_element_top_navbar">
        <div class="navbar-inner">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Center the upper navigation bar -->
            <div style="width:1000px; margin:auto;">
                <img style="float:left;margin-top:7px;" src="{{url_for('static', filename='img/wikistoria.png') }}" />
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Actions <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            {% if g.user.is_authenticated() %}
                                <li class="nav-header">Create</li>
                                <li><a href="javascript:unitModel.new_unit()">Unit</a></li>
                                <li><a href="javascript:eventModel.newEvent();">Event</a></li>
                                <li><a href="javascript:layerModel.newLayer();">Layer</a></li>
                                <li><a href="javascript:playlist_OpenEditor();">Playlist</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Import</li>
                                <li><a href="javascript:import_playlist();">Playlist</a></li>
                                <li class="divider"></li>
                            {% endif %}
                                <li><a href="javascript:combinedSearch();"><i class="icon-search"></i> Search content</a></li>
                            {% if g.user.is_authenticated() %}
                                <li class="divider"></li>
                                <li class="nav-header">User account</li>
                                <li><a href="javascript:open_yourContent();"><i class="icon-list"></i> Your content</a></li>
                                <li><a href="javascript:userModel.settings();"><i class="icon-wrench"></i> Manage settings</a></li>
                            {% endif %}
                            </ul>
                        </li>
                        <li>
                            <div id="current_bigdate_selector" style="margin-top: 14px;float:left;"></div>
                            <select class="input" id="speedSelector" style="width: 80px;margin-top: 13px;">
                                <option value="1">1x</option>
                                <option value="10">2x</option>
                                <option value="100">3x</option>
                                <option value="1000">4x</option>
                                <option value="10000">5x</option>
                                <option value="100000">6x</option>
                                <option value="1000000">7x</option>
                                <option value="10000000">8x</option>
                                <option value="100000000">9x</option>
                                <option value="1000000000">10x</option>
                                <option value="60">Minute/s</option>
                                <option value="3600">Hour/s</option>
                                <option value="86400" selected="selected">Day/s</option>
                                <option value="604800">Week/s</option>
                                <option value="2419200">Month/s</option>
                                <option value="31536000">Year/s</option>
                            </select>
                            <img src="https://cdn1.iconfinder.com/data/icons/bnw/32x32/actions/player_play.png" onclick="toggleAnimation();" alt="play" style="margin-top: 3px;" />
                        </li>
                        <li>
                            <span id="ui_currently_loaded_events" style="margin-left: 10px; clear:both;">Loaded events: 0</span>
                            <br />
                            <span id="ui_current_zoom_level" style="margin-left: 10px; clear:both;">Zoom level: 4</span>
                        </li>
                        {% if g.user.is_authenticated() %}
                        <li><a href="{{url_for('user_page.logout')}}">Sign out</a></li>
                        {% else %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign in</a>
                            <div class="dropdown-menu" style="padding:15px; padding-bottom:0px;">
                                <form id="LoginForm" action="{{url_for('user_page.login')}}" method="post">
                                    {{form.hidden_tag()}}
                                    {{form.username(size=80, placeholder="Username")}}
                                    {{form.password(size=80)}}
                                    <input class="btn btn-primary" style="clear:left;width:100%;height:32px;" type="submit" value="Sign in">
                                </form>
                                <p>Forgot your password? Send a new password in your email.</p>
                                <input id="PasswordRetrievalForm_username" class="PasswordRetrievalForm_input" type="text" placeholder="Username" />
                                <input id="PasswordRetrievalForm_email" class="PasswordRetrievalForm_input" type="text" placeholder="Email" />
                                <button id="PasswordRetrievalForm_btn" class="btn-primary" style="height: 32px; width: 100%;">Go!</button>
                                <br/><br/>
                            </div>
                        </li>
                        <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign up</a>
                        <div class="dropdown-menu" style="padding:15px; padding-bottom:0px;">
                            <form id="RegisterForm" action="{{url_for('user_page.register')}}" method="post">
                                {{regform.hidden_tag()}}
                                {{regform.username(size=80, placeholder="Username")}}
                                {{regform.email(size=80, placeholder="Email")}}
                                {{regform.password(size=80, style="float:left;width:130px;margin-right:10px;")}} <label class="string" for="password">Password</label>
                                <div style="clear:left"></div>
                                {{regform.confirm(size=80, style="float:left;width:130px;margin-right:10px;")}} <label class="string" for="confirm">Confirm</label>

                                <input class="button btn-primary" style="clear:left;width:100%;height:32px" type="submit" value="Register">
                            </form>
                        </div>
                        {% endif %}
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div id="openlayers_map" class="map"></div>

</body>
</html>