<!-- Window for editing a playlist -->
<div id="playlistIEditor_Editor" class="modal hide fade" tabindex="-1" data-width="80%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Playlist editor</h3>
    </div>
    <div class="modal-body">
    <div class="row-fluid">
        <div class="span6">
            <label for="pEditor_Title">Title</label>
            <input id="pEditor_Title" type="text" class="input text pEditor_Title" placeholder="Playlist title" />
            <label for="pEditor_Imageurl">Playlist icon</label>
            <input id="pEditor_Imageurl" type="text" class="input text pEditor_Imageurl movImgURL" /><img id="playlistIcon_img" src="" style="max-width:30px;max-height:30px;" /><form style="display:inline;" id="playlistIcon_form" action='{{ url_for("event_datasource.uploadUnitImage",dir="playlist") }}' method="post" enctype="multipart/form-data"><input style="color:transparent;width:120px;" type="file" id="unitMovementImage_playlist" name="unitMovementImage_playlist"></form>
            <label for="pEditor_Description">Description</label>
            <textarea id="pEditor_Description" class="input text pEditor_Description" title="Playlist description"></textarea>
        </div>
        <div class="span6">
            <h4>Selected events <button class="btn btn-primary" id="btnEventFinderForPlaylist">Add event</button></h4>
            <div id="pEditor_SelectedEvents" style="overflow-y: auto; height: 290px;"></div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <a id="pEdit_Export" class="btn" target="_blank" href="#">Export</a>
        <button type="button" id="playlistIEditor_btnSave" data-dismiss="modal" class="btn">Save</button>
        <button type="button" data-dismiss="modal" class="btn">Cancel</button>
    </div>
</div>