<!-- Unit information popup window -->
<div id="unitIModal" class="modal hide fade unitModel" tabindex="-1" data-width="80%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="uInfo_Title" data-bind="text:title">Unit title</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span9">
                <h4>Description <img src="" id="uInfo_Image" style="max-height: 20px; margin-left: 10px;" data-bind="attr:{src:filename}"/></h4>
                <p id="uInfo_Desc" data-bind="text:description">-</p>
                <h4>Wikipedia</h4>
                <p><a id="uInfo_Wiki" href="#" target="_blank" data-bind="attr:{href:wikilink}, text:wikilink">-</a></p>
            </div>
            <div class="span3">
                <h4>Appears</h4>
                <p id="uInfo_Appear" data-bind="text:appears_string">-</p>
                <h4>Disappears</h4>
                <p id="uInfo_Disappear" data-bind="text:disappears_string">-</p>
                <h4>Location</h4>
                <p id="uInfo_Location" data-bind="text:location">-</p>
            </div>
        </div>
    </div>
        <div class="modal-footer">
        <button type="button" id="unitIEdit" data-dismiss="modal" data-bind="visible:originalAuthor()" class="btn">Edit</button>
        <button type="button" data-dismiss="modal" class="btn">Close</button>
    </div>
</div>