<!-- Event information popup window -->
<div id="eventIModal" class="modal hide fade eventModel" tabindex="-1" data-width="80%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="eInfo_Title" data-bind="text:content">Event title</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
        <div class="span9">
            <div id="eInfo_Desc" data-bind="html:description_markdown">-</div>
            <h4>Wikipedia</h4>
            <p><a id="eInfo_Wiki" href="#" target="_blank" data-bind="attr:{href:wikilink}, text:wikilink">-</a></p>
        </div>
        <div class="span3">
            <h4>Author</h4>
            <p id="eInfo_Author" data-bind="text:authorName">-</p>
            <h4>Starts</h4>
            <p id="eInfo_Starts" data-bind="text:start_string">-</p>
            <h4>Ends</h4>
            <p id="eInfo_Ends" data-bind="text:end_string">-</p>
            <h4>Significance</h4>
            <div id="eInfo_Significance" data-bind="raty:significance"></div>
            <!--<p id="eInfo_Significance">-</p>-->
            <h4>Used units</h4>
            <div id="eInfo_Usedunits" data-bind="foreach:data">
                <img src="" data-bind="attr:{src:image}" style="max-height: 20px; margin-left: 5px;" />
            </div>

            <h4>Topics</h4>
            <div id="eInfo_Topics" data-bind="foreach:categories">
                <p data-bind="text:title"></p>
            </div>

        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="eInfo_Edit" type="button" data-dismiss="modal" data-bind="visible:originalAuthor()" class="btn">Edit</button>
        <button id="eInfo_Delete" type="button" data-dismiss="modal" data-bind="visible:originalAuthor()" class="btn">Delete</button>
        <button type="button" data-dismiss="modal" class="btn">Close</button>
    </div>
</div>