<!-- Unit information edit popup window -->
<div id="unitEModal" class="modal hide fade unitModel" tabindex="-1" data-width="80%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="ueInfo_Title" data-bind="text:validatedTitle">Unit title</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span3">
                <h4>Title</h4>
                <input type="text" id="eUnit_Title" data-bind="value:title" placeholder="Unit title"/>
                <h4>Description <img src="" id="ueInfo_Image" style="max-height: 20px; margin-left: 10px;" data-bind="attr:{src:filename}" /></h4>
                <textarea id="eUnit_Description" data-bind="value:description" placeholder="Unit description"></textarea>
                <h4>Wikipedia</h4>
                <input type="text" id="eUnit_Wikilink" data-bind="value:wikilink" placeholder="Wikipedia URL" />
            </div>
            <div class="span6">
                <h4>Appears</h4>
                <div id="eUnit_appearsDatetime" data-bind="connect_bigdate:appears"></div>
                <h4>Disappears</h4>
                <div id="eUnit_disappearsDatetime" data-bind="connect_bigdate:disappears"></div>
                <h4>Location</h4>
                <input type="text" id="eUnit_Location" data-bind="value:location" placeholder="Location of the unit" />
                <h4>Unit general icon</h4>
                <input type="text" class="movImgURL" id="eUnit_Filename" data-bind="value:filename"/><img id="eUnit_movementImage_filename_img" data-bind="attr:{src: filename()}" style="max-width:30px;max-height:30px;" /><form style="display:inline;" id="eUnit_movementImage_filename_form" action='{{ url_for("event_datasource.uploadUnitImage",dir="filename") }}' method="post" enctype="multipart/form-data"><input style="color:transparent;width:120px;" type="file" id="unitMovementImage_filename" name="unitMovementImage_filename"></form>
            </div>
            <div class="span3">
                <h4>Movement images</h4>
                <table>
                    <tr><td>North: </td><td><input type="text" class="movImgURL" placeholder="North" id="eUnit_movementImage_north" data-bind="value:imageData().north" /><img id="eUnit_movementImage_north_img" data-bind="attr:{src: imageData().north}" style="max-width:30px;max-height:30px;" /></td><td><form style="display:inline;" id="eUnit_movementImage_north_image_form" action='{{ url_for("event_datasource.uploadUnitImage",dir="north") }}' method="post" enctype="multipart/form-data"><input style="color:transparent;width:120px;" type="file" id="unitMovementImage_north" name="unitMovementImage_north"></form></td></tr>
                    <tr><td>North-east: </td><td><input type="text" class="movImgURL" placeholder="North east" id="eUnit_movementImage_north_east" data-bind="value:imageData().north_east" /><img id="eUnit_movementImage_north_east_img" data-bind="attr:{src: imageData().north_east}" style="max-width:30px;max-height:30px;" /></td><td><form style="display:inline;" id="eUnit_movementImage_north_east_image_form" action='{{ url_for("event_datasource.uploadUnitImage",dir="north_east") }}' method="post" enctype="multipart/form-data"><input style="color:transparent;width:120px;" type="file" id="unitMovementImage_north_east" name="unitMovementImage_north_east"></form></td></tr>
                    <tr><td>East: </td><td><input type="text" class="movImgURL" placeholder="East" id="eUnit_movementImage_east" data-bind="value:imageData().east" /><img id="eUnit_movementImage_east_img" data-bind="attr:{src: imageData().east}" style="max-width:30px;max-height:30px;" /></td><td><form style="display:inline;" id="eUnit_movementImage_east_image_form" action='{{ url_for("event_datasource.uploadUnitImage",dir="east") }}' method="post" enctype="multipart/form-data"><input style="color:transparent;width:120px;" type="file" id="unitMovementImage_east" name="unitMovementImage_east"></form></td></tr>
                    <tr><td>South-east: </td><td><input type="text" class="movImgURL" placeholder="South east" id="eUnit_movementImage_south_east" data-bind="value:imageData().south_east" /><img id="eUnit_movementImage_south_east_img" data-bind="attr:{src: imageData().south_east}" style="max-width:30px;max-height:30px;" /></td><td><form style="display:inline;" id="eUnit_movementImage_south_east_image_form" action='{{ url_for("event_datasource.uploadUnitImage",dir="south_east") }}' method="post" enctype="multipart/form-data"><input style="color:transparent;width:120px;" type="file" id="unitMovementImage_south_east" name="unitMovementImage_south_east"></form></td></tr>
                    <tr><td>South: </td><td><input type="text" class="movImgURL" placeholder="South" id="eUnit_movementImage_south" data-bind="value:imageData().south" /><img id="eUnit_movementImage_south_img" data-bind="attr:{src: imageData().south}" style="max-width:30px;max-height:30px;" /></td><td><form style="display:inline;" id="eUnit_movementImage_south_image_form" action='{{ url_for("event_datasource.uploadUnitImage",dir="south") }}' method="post" enctype="multipart/form-data"><input style="color:transparent;width:120px;" type="file" id="unitMovementImage_south" name="unitMovementImage_south"></form></td></tr>
                    <tr><td>South-west: </td><td><input type="text" class="movImgURL" placeholder="South west" id="eUnit_movementImage_south_west" data-bind="value:imageData().south_west" /><img id="eUnit_movementImage_south_west_img" data-bind="attr:{src: imageData().south_west}" style="max-width:30px;max-height:30px;" /></td><td><form style="display:inline;" id="eUnit_movementImage_south_west_image_form" action='{{ url_for("event_datasource.uploadUnitImage",dir="south_west") }}' method="post" enctype="multipart/form-data"><input style="color:transparent;width:120px;" type="file" id="unitMovementImage_south_west" name="unitMovementImage_south_west"></form></td></tr>
                    <tr><td>West: </td><td><input type="text" class="movImgURL" placeholder="West" id="eUnit_movementImage_west" data-bind="value:imageData().west" /><img id="eUnit_movementImage_west_img" data-bind="attr:{src: imageData().west}" style="max-width:30px;max-height:30px;" /></td><td><form style="display:inline;" id="eUnit_movementImage_west_image_form" action='{{ url_for("event_datasource.uploadUnitImage",dir="west") }}' method="post" enctype="multipart/form-data"><input style="color:transparent;width:120px;" type="file" id="unitMovementImage_west" name="unitMovementImage_west"></form></td></tr>
                    <tr><td>North-west: </td><td><input type="text" class="movImgURL" placeholder="North west" id="eUnit_movementImage_north_west" data-bind="value:imageData().north_west" /><img id="eUnit_movementImage_north_west_img" data-bind="attr:{src: imageData().north_west}" style="max-width:30px;max-height:30px;" /></td><td><form style="display:inline;" id="eUnit_movementImage_north_west_image_form" action='{{ url_for("event_datasource.uploadUnitImage",dir="north_west") }}' method="post" enctype="multipart/form-data"><input style="color:transparent;width:120px;" type="file" id="unitMovementImage_north_west" name="unitMovementImage_north_west"></form></td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="unitCooperationEditor" class="btn" data-bind="visible:updateMode()">Collaborators</button>
        <button type="button" id="unitUSave" class="btn" data-bind="text:mode,visible:originalAuthor()">Update</button>
        <button type="button" id="unitUDelete" class="btn" data-bind="visible:originalAuthor() && id()>-1">Delete</button>
        <button type="button" data-dismiss="modal" class="btn">Close</button>
    </div>
</div>