<!-- View for editing events -->
<div id="eventEditor" class="eventModel editorView">
    <div class="row-fluid ">

        <div class="span12 unitInfo">

                <ul class="nav nav-tabs" id="eventEditTabs_Headers">
                    <li class="active"><a href="#eventEdit_tab1" data-toggle="tab">Basic information</a></li>
                    <li><a href="#eventEdit_tab2" data-toggle="tab">Units and routing</a></li>
                    <li><a href="#eventEdit_tab3" data-toggle="tab">Topics and categories</a></li>
                </ul>
                <div class="tab-content" id="eventEditTabs_Containers">
                    <div class="tab-pane active" id="eventEdit_tab1">

                        <div class="row-fluid">
                            <div class="span6">
                                <h4>Title</h4>
                                <input id="eEditor_Title_test" type="text" class="input text eEditor_Title" data-bind="value: content" />

                                <h4>Significance</h4>
                                <div id="eEditor_Significance_test" data-bind="raty:significance"></div>

                                <h4>Start</h4>
                                <div id="eventIEditor_startDatetime_test" data-bind="connect_bigdate:start"></div>

                                <h4>Incertitude</h4>
                                <select data-bind="value: incertitude">
                                    <option value="0" selected="selected">Exact Millenium of event cannot be specified</option>
                                    <option value="1">Exact Century of event cannot be specified</option>
                                    <option value="2">Exact Decade of event cannot be specified</option>
                                    <option value="3">Exact Year of event cannot be specified</option>
                                    <option value="4">Exact Month of event cannot be specified</option>
                                    <option value="5">Exact Day of event cannot be specified</option>
                                    <option value="6">Exact Hour of event cannot be specified</option>
                                    <option value="7">Exact Minute of event cannot be specified</option>
                                    <option value="8">Exact Second of event cannot be specified</option>
                                    <option value="9">All details of event are known</option>
                                </select>
                            </div>
                            <div class="span6">
                                <h4>Wikipedia</h4>
                                <input id="eEditor_Wikilink_test" type="text" class="input text eEditor_Wikilink" data-bind="value:wikilink" placeholder="Wikipedia URL" />

                                <h4>Event general icon</h4>
                                <input id="eEditor_Filename_test" ctype="text" data-bind="value: filename" class="input movImgURL text eEditor_Filename" /><img id="eventImg_smallimg" data-bind="attr:{src: filename()}" style="max-width:30px;max-height:30px;" /><form style="display:inline;" id="eventImg_form" action='{{ url_for("event_datasource.uploadUnitImage",dir="eventImg") }}' method="post" enctype="multipart/form-data"><input style="color:transparent;width:120px;" type="file" id="unitMovementImage_eventImg" name="unitMovementImage_eventImg"></form>

                                <h4>End</h4>
                                <div id="eventIEditor_endDatetime_test" data-bind="connect_bigdate:end"></div>

                                <h4>Expert agreement</h4>
                                <select data-bind="value: incertitude_type">
                                    <option value="0">No discourse concerning this event</option>
                                    <option value="1">Majority of historians disagree with this version of event (>50%)</option>
                                    <option value="2">Bigger minority of historians disagree with this version of event (26-50%)</option>
                                    <option value="3">Smaller minority of historians disagree with this version of event (10-25%)</option>
                                    <option value="4">Only few historians disagree with this version of event (<10%)</option>
                                    <option value="5">This version of event is without any controversy amongst historians</option>
                                </select>
                            </div>
                        </div>

                        <h4>Description</h4>
                        <textarea id="eEditor_Description_test" class="input text eEditor_Description" data-bind="value:description" style="width: 95%; height: 180px;"></textarea>

                        Public specified: <input type="radio" name="eventPublicPrivate" value="0" data-bind="checked: visibility_type" />
                        Public unspecified:  <input type="radio" name="eventPublicPrivate" value="1" data-bind="checked: visibility_type" />
                        Public fictional: <input type="radio" name="eventPublicPrivate" value="2" data-bind="checked: visibility_type" />
                        Private: <input type="radio" name="eventPublicPrivate" value="3" data-bind="checked: visibility_type" />

                        <button type="button" id="eventIEditor_CooperationEditor" class="btn" data-bind="visible:updateMode()">Collaborators</button>
                        <button class="btn" id="eventIEditor_SaveButton_test" type="button" data-bind="click:save">Save and close</button>
                        <button class="btn" id="eventIEditor_DeleteButton" type="button" data-bind="click:deleteEventAndClose, visible:id() > -1">Delete</button>
                        <button class="btn" id="eventIEditor_CancelButton" type="button" data-bind="click:cancel">Cancel</button>

                    </div>
                    <div class="tab-pane" id="eventEdit_tab2">
                        <h3>Selected units (<a id="btnUnitFinder_test" style="cursor:pointer;">Add unit</a>)</h3>
                        <h4 data-bind="visible:data().length == 0">No units selected!</h4>
                        <div id="eEditor_SelUnitlist_test" data-bind="foreach:data" style="height:560px;overflow:auto;">
                            <div class="unit" data-bind="attr:{id:eventunit}">
                                <div style="float:left;margin-left:5px;">
                                    <h4 data-bind="text:unit_title"></h4>
                                    <img data-bind="attr:{src:image}" style="max-height: 50px; max-width: 50px; margin-left: 5px;" />
                                    <input type="text" class="input" data-bind="value:unit_label" placeholder="Descriptive unit label" />
                                    <input type="text" class="input-mini" data-bind="value:zoom_min" placeholder="Zoom min" />
                                    <input type="text" class="input-mini" data-bind="value:zoom_max" placeholder="Zoom max" />
                                    <button class="btn" data-bind="click:$parent.unitRoute">Route</button>
                                    <button class="btn" data-bind="click:$parent.deleteUnit">Remove</button>
                                </div>
                                <div style="float:left;width:1px;height:1px;visibility:hidden;overflow:hidden" id="">
                                </div>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                    </div>
                    <div class="tab-pane" id="eventEdit_tab3">
                        <h4>Topics</h4>

                        <div data-bind="visible: !private_event()" class="eventEdit_topic_listing_container" id="eventEdit_topic_public_listing_container">{{ topic_public_selectors|safe }}</div>
                        <div data-bind="visible: private_event()" class="eventEdit_topic_listing_container" id="eventEdit_topic_private_listing_container">{{ topic_private_selectors|safe }}</div>

                        <div class="hideMe">
                            <h4>Assign categories</h4>
                            <p>Find:</p>
                            <input type="text" id="eEditor_CatFindText" />
                            <p>Search results:</p>
                            <div id="eEditor_FoundCats"></div>
                            <p>Selected categories:</p>
                            <div id="eEditor_SelCats"></div>
                        </div>

                    </div>

            </div>
        </div>

        <div class="span12 unitRoute">
            <h4>Unit routing</h4>
            <p>Activate dragging <input type="checkbox" id="dragSel" onchange="activeDrag();"/></p>
            <p>Click the map for adding new waypoints. Old waypoints can be dragged.</p>
            <div class="row-fluid" data-bind="foreach:{data:selectedItem}">
                <div class="span12" id="editor_route" data-bind="foreach:{data:datapoints,afterAdd : $parent.routeDates}">
                    <div class="row-fluid routeRow">
                        <span class="span1" style="font-weight: bold;" data-bind="text:$index"></span>
                        <a href="#" data-bind="click:$root.removeRoutePoint"><span class="add-on"><i class="icon-trash"></i>REMOVE</span></a>
                        <div data-bind="connect_bigdate:time" class="routeDate"></div>
                    </div>
                </div>
                <button data-bind="click:$parent.saveRoute">Save</button>
            </div>
        </div>

    </div>
</div>