<div id="layerEditor" class="layerModel editorView">
		<div class="row-fluid">
			<div class="layerInfo">
				<div class="span6">
					<div class="span12">
						<h4>Name</h4>
						<input type="text" data-bind="value:name">
						
					</div>
				</div>
				<div class="span6">
					<input type="button" data-bind="click:save" value="Save">
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<div class="input-append date layerDate" id="layerStart" data-date="09.08.2013 12:30:00" data-date-format="dd.mm.yyyy hh:ii:ss">
                	<input class="span3" style="width:150px" data-bind="value:start">
                    <span class="add-on">
                    	<i class="icon-th"></i>
                    </span>
                </div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<div class="input-append date layerDate" id="layerStop" data-date="09.08.2013 12:30:00" data-date-format="dd.mm.yyyy hh:ii:ss">
                	<input class="span3" style="width:150px" data-bind="value:stop">
                    <span class="add-on">
                    	<i class="icon-th"></i>
                    </span>
                </div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<h4>Description</h4>
				<textarea data-bind="value:description"></textarea>
			</div>
		</div>
		<h4>Tools</h4>
		<div class="row-fluid">
			<!--<div class="span6 featureToolbar">
                <div class="featureButton featureMove Active move" data-bind="click: toggleControl.bind($data, 'move')"></div>
                <div class="featureButton featurePoint Deactive point" data-bind="click: toggleControl.bind($data, 'point')"></div>
                <div class="featureButton featureLine Deactive line" data-bind="click: toggleControl.bind($data, 'line')"></div>
                <div class="featureButton featurePolygon Deactive polygon" data-bind="click: toggleControl.bind($data, 'polygon')"></div>
                <div class="featureButton featureModify Deactive modify" data-bind="click: toggleControl.bind($data, 'modify')">M</div>
			</div>-->
			<div class="span2">
                <div id="featureLine"></div>
				<!--<input type="radio" name="type" value="line" id="lineToggle" data-bind="click: toggleControl" />
				<label for="lineToggle">Line</label>-->
			</div>
			<div class="span2">
                <div id="featurePolygon"></div>
				<!--<input type="radio" name="type" value="polygon" id="polygonToggle" data-bind="click: toggleControl" />
				<label for="polygonToggle">Polygon</label>-->
			</div>
			<div class="span2">
				<!--<input type="radio" name="type" value="regular" id="regularToggle" data-bind="click: toggleControl" />
				<label for="regularToggle">regular</label>-->
			</div>
			<div class="span2">
				<!--<input type="radio" name="type" value="modify" id="modifyToggle" data-bind="click: toggleControl" />
				<label for="modifyToggle">Modify</label>-->
			</div>
		</div>
		<div class="row-fluid">
			<!--<div class="span2">
				<input type="radio" name="modify" id="reshape" value="reshape" data-bind="click: toggleModify">
				<label for="reshape">Reshape</label>
			</div>
			<div class="span2">
				<input type="radio" id="rotate" name="modify" value="rotate" data-bind="click: toggleModify">
				<label for="rotate">rotate</label>
			</div>
			<div class="span2">
				<input type="radio" id="resize" name="modify" value="resize" data-bind="click: toggleModify">
				<label for="resize">Resize</label>
			</div>
			<div class="span2">
				<input type="radio" id="drag" name="modify" value="drag" data-bind="click: toggleModify">
				<label for="drag">Drag</label>
			</div>-->
		</div>
        <div class="row-fluid">
            <div class="span12">
                <input type="text" data-bind="value:newGroup"><input type="button" data-bind="click:newLayerGroup" value="New Group">
            </div>
        </div>
        <div data-bind="foreach: {data:layerGroup}" class="row-fluid">
            <div class="row-fluid">
                <div class="span4">
                    <input type="text" class="span4" data-bind="value:title">
                </div>
                <div class="span6 featureToolbar">
                    <div class="featureButton featureMove Active move" data-bind="click: toggleControl.bind($data, 'move')"></div>
                    <div class="featureButton featurePoint Deactive point" data-bind="click: toggleControl.bind($data, 'point')"></div>
                    <div class="featureButton featureLine Deactive line" data-bind="click: toggleControl.bind($data, 'line')"></div>
                    <div class="featureButton featurePolygon Deactive polygon" data-bind="click: toggleControl.bind($data, 'polygon')"></div>
                    <div class="featureButton featureModify Deactive modify" data-bind="click: toggleControl.bind($data, 'modify')">M</div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span4">Label</div>
                    <div class="span4">Color</div>
                    <div class="span2">Delete</div>
                </div>
		    </div>
            <div data-bind="foreach: {data:layers,afterRender : layerDates}" class="row-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="span4"><input type="text" data-bind="value:$data.title.co" class="span12"></div>
                        <div class="span2"><input type="text" data-bind="picker:$data.color, value:$data.color.co" class="span12"></div>
                        <div class="span4 modifyToolbar" data-bind="visible:$parent.tools">
                            <div><a href="" data-bind="click:$parent.removeObject"><span class="add-on"><i class="icon-trash"></i></span></a></div>
                            <div data-bind="click: toggleModify.bind($data, 'reshape')">RS</div>
                            <div data-bind="click: toggleModify.bind($data, 'rotate')">RT</div>
                            <div data-bind="click: toggleModify.bind($data, 'resize')">RZ</div>
                            <div data-bind="click: toggleModify.bind($data, 'drag')">DR</div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="span6">
                            <div class="input-append date layerDate" data-date="09.08.2013 12:30:00" data-date-format="dd.mm.yyyy hh:ii:ss">
                                <input class="span3" style="width:150px" data-bind="value:start.co">
                                <span class="add-on">
                                    <i class="icon-th"></i>
                                </span>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="input-append date layerDate" data-date="09.08.2013 12:30:00" data-date-format="dd.mm.yyyy hh:ii:ss">
                                <input class="span3" style="width:150px" data-bind="value:stop.co">
                                <span class="add-on">
                                    <i class="icon-th"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
		</div>
        </div>
		<div data-bind="foreach: {data:layerObject, afterAdd:colorPickers}" class="row-fluid">
    		<div class="row-fluid">
    			<div class="span12">
  				<div class="span4"><input type="text" data-bind="value:title.co" class="span12"></div>
  				<div class="span4"><input type="text" data-bind="picker:color, value:color.co" class="span12"></div>
  				<div class="span2"><a href="" data-bind="click:$parent.removeObject"><span class="add-on"><i class="icon-trash"></i></span></a></div>
  				</div>
    		</div>
		</div>
		
</div>