<!-- Your content popup window -->
<div id="yourContentIModal" class="modal hide fade userModel" tabindex="-1" data-width="80%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="yourContentIModal_title" data-bind="text: yourContentGreet"></h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span3">
                <h4>Events</h4>
                <div id="yourContentIModal_eventsPane" class="yourContent_contentPane">
                    Content
                </div>
            </div>
            <div class="span3">
                <h4>Units</h4>
                <div id="yourContentIModal_unitsPane" class="yourContent_contentPane">
                    Content
                </div>
            </div>
            <div class="span3">
                <h4>Playlists</h4>
                <div id="yourContentIModal_playlistsPane" class="yourContent_contentPane">
                    Content
                </div>
            </div>
            <div class="span3">
                <h4>Layers</h4>
                <div id="yourContentIModal_layersPane" class="yourContent_contentPane">
                    Content
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">Close</button>
    </div>
</div>