<!-- Window for showing playlist information -->
<div id="playlistInfo" class="modal hide fade" tabindex="-1" data-width="80%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Playlist information</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <!-- Content -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">Close</button>
    </div>
</div>