<!-- Window for managing user settings -->
<div id="windowUserSettings" class="modal hide fade userModel" tabindex="-1" data-width="80%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>User account settings</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">

            <div class="span12">

                <h4><span data-bind="text: settingsStatusText"></span></h4>
                <p>&nbsp;</p>

                <div class="row-fluid">
                    <div class="span5">

                        <label for="windowUserSettings_realname">Real name</label>
                        <input data-bind="value: realname" type="text" id="windowUserSettings_realname" class="input text" />

                        <label for="windowUserSettings_email">Email</label>
                        <input data-bind="value: email" type="email" id="windowUserSettings_email" class="input text" />

                    </div>

                    <div class="span7">

                        <label for="windowUserSettings_description">Tell about yourself <span data-bind="text: computeFirstname"></span></label>
                        <textarea data-bind="value: description" id="windowUserSettings_description" style="width:97%;height:250px;" class="input text" ></textarea>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn" onclick="userModel.updateDatabase();" data-bind="visible: validEmail() && realname().length>0">Save</button>
        <button type="button" data-dismiss="modal" class="btn">Cancel</button>
    </div>
</div>