<!-- Editor for collaboration rights -->
<div id="unitCollaborationEditForm" class="modal hide fade" tabindex="-1" data-width="80%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Collaborators</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span4">
                <p>
                    You may given collaboration rights for content to users
                    with specified user names. This means that you have to
                    know the user names of your collaborators in advance.
                </p>
                <input id="unitCollaborationEditForm_collaborator" type="text" class="input" placeholder="Username" />
                <button id="unitCollaborationEditForm_addbutton" class="btn" >Add</button>
            </div>
            <div class="span8" id="unitCollaborationEditForm_usernames"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">Update</button>
        <button type="button" data-dismiss="modal" class="btn">Close</button>
    </div>
</div>