<!-- Window for finding generic content -->
<div id="anything_Search" class="modal hide fade" tabindex="-1" data-width="80%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Search for content</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span4">

                <input type="text" id="anything_Search_name" class="input text input-medium" placeholder="Search term" />

                <button class="btn" id="anything_Search_GO" style="margin-bottom: 9px;">Go!</button>

                <a id="anything_Search_MoreDetailedSearchButton">More detailed search</a>

                <div class="controls controls-row more-detailed-search" style="margin-bottom:6px;margin-top:6px;">
                    Events <input type="checkbox" id="anything_Search_checkbox_event" checked="checked" />
                    Units <input type="checkbox" id="anything_Search_checkbox_unit" checked="checked" /><br/>
                    Playlists <input type="checkbox" id="anything_Search_checkbox_playlist" checked="checked" />
                    Layers <input type="checkbox" id="anything_Search_checkbox_layer" checked="checked" />
                </div>

                <div id="anything_Search_startDate" class="input text more-detailed-search" ></div>
                <div id="anything_Search_endDate" class="input text more-detailed-search" ></div>


                <div class="controls controls-row more-detailed-search">
                    <label for="anything_Search_sigStart" class="span3" style="min-height: 7px;" >Min</label>
                    <label for="anything_Search_sigEnd" class="span3" style="min-height: 7px;" >Max</label>
                    <span class="span1">Significance</span>
                </div>

                <div class="controls controls-row more-detailed-search">

                    <select id="anything_Search_sigStart" class="input span3">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>

                    <select id="anything_Search_sigEnd" class="input span3">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option selected="selected">10</option>
                    </select>

                </div>

                <div id="anything_Search_findCategories" class="more-detailed-search">

                    <input type="text" id="anything_Search_category" class="input text" placeholder="Search topics" />

                    <div id="anything_Search_findCategories_results">
                        <p>Start by typing a topic name.</p>
                    </div>

                    <label for="anything_Search_findCategories_selected">Selected topics</label>
                    <div id="anything_Search_findCategories_selected"></div>

                </div>

            </div>
            <div class="span8" id="anything_Search_results">
                <h4>Search for content by given criteria.</h4>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">Close</button>
    </div>
</div>